h1 {
	text-align: center;
}

.row {
	width: 90%;
}

.dsn {
	background-color: grey;
	border: 2px solid black;
	width : 400px;
	height: 150px;
	margin: 20px;
	color: black;
	margin-left: auto;
	margin-right: auto;
}
.c {
	text-align: center;
	background-color: pink;
	border: 2px solid black;
	height: 20px;
	width: 70px;
	margin-top: 0px;
	float: right;
	padding: 5px;
}

.b {
	text-align: center;
	background-color: red;
	border: 2px solid black;
	height: 20px;
	width: 70px;
	margin-top: 0px;
	float: right;
	padding: 5px;
}

.s {
	text-align: center;
	background-color: orange;
	border: 2px solid black;
	height: 20px;
	width: 70px;
	margin-top: 0px;
	float: right;
	padding: 5px;
}

p {
	text-align: center;
	padding: 5px;
}


/*Large Screens only*/

@media (min-width: 1200px) {
    .col-lg-4 {
    	float: left;
    	border: 2px solid white;
    	width: 33%;
    }

}

	
/*Medium Screens Only*/

@media (min-width: 992px) and (max-width: 1999px) {
	.col-md-6 {
		float: left;
		border: 1px solid grey;
		width: 50%;
	}

	.col-md-12 {
		float: left;
		border: 1px solid grey;
		width: 100%;
	}
}

/*Small Screens Only*/

@media (min-width: 100px) and (max-width: 990px) {
	.col-sm-12 {
		float: left;
		border: 1px solid grey;
		width: 100%;
	}
}